<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="initial-scale=1, width=devide-width">
		<title>froshim0</title>
	</head>
	<body>
		<h1>Register for Frosh IMs</h1>
		<form action="/register" mothod="post">
			<input name="name" placeholder="Name" type="text">
			<select name="dorm">
				<option disabled selected value="Dorm">Dorm</option>
				<option value="Apley Court">Apley Court</option>
				<option value="Canaday">Canaday</option>
			</select>
			<input type="submit" value="register">
		</form>
	</body>
</html>